<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Edit Project Allocation</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}stylesheet/niceforms.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}javascript/general.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}javascript/cloudman.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery-1.7.1.js"></script>
{% load filters%}
{% include "base/convert_unit.html" %}
<script type="text/javascript">
  function restoreResourceTypes(){
     currPrAllocRtElem = getElement("currprallocrt");
     prAllocRtElem = getElement("prallocallowedrt");
     for(i=(prAllocRtElem.options.length-1); i>=0; i--){
         prAllocRtElem.remove(i);
     }
     for(i=0; i<currPrAllocRtElem.options.length; i++){
         prAllocRtElem.options[i] = new Option(currPrAllocRtElem.options[i].value, currPrAllocRtElem.options[i].value, true, true);
     }
  }
  
  function restoreMetaData()
  { 	
    csrftoken = getElement("updateprojectallocationform").csrfmiddlewaretoken.value;
  	$.ajax( {
              type: 'post',
              data: {'allocName':'{{prAllocObject.name}}', 'projectName': '{{prAllocObject.project.name}}', 'csrfmiddlewaretoken': csrftoken},
              url:  '/cloudman/projectallocation/getattrinfo/',              
              success: function( result ) 
              {              	
                var obj = jQuery.parseJSON(result);                 
                var str = ''
                if (obj.length <= 0)
                {
                   	alert('No attribute set for the Project Allocation'+ allocName);
                }
                else
                {                    		  		
		    		for (index=0; index<obj.length; index++)
		    		{                       		                       		
                   		attribute = obj[index].attribute;
                   		value = obj[index].value;                   		 
                   		str += "<dl><dd>Attribute Name:<input type=text name='attribute_name' readonly='readonly' value='" + attribute + "'></dd>";                       		
                   		if(value.replace(/\s/g,"") != "")
                   		{
                   			var value_list = value.split(' ');                       		
                   			var option_str = '';                       		                       		                       		                       		
                   			for(var i=0;i<value_list.length;i++)
                   			{
								selected ='' 
                   				if (obj[index].selected == value_list[i])
                   					selected='selected';
                   				option_str += "<option " + selected + " value='"+value_list[i]+"'>"+value_list[i]+"</option>";
                   			} 
                   			str += "<dd>Value:<select name='attribute_value'>"+option_str+"</select></dd></dl>";
                   		}
                   		else
                   		{
                   			str += "<dd>Value:<input type=text name='attribute_value' value='"+obj[index].selected+"'></dd></dl>";
                   		}                      		                       		                       		
                  	}                    	
                }
                document.getElementById("projectattribute").innerHTML = str;
              }
          } );
    document.getElementById("projectattribute").innerHTML = '';
  }

  function changeValueType(valueType){
     if (valueType == 'absolute'){
       getElement("percentagevaluesdiv").style.display = "none";
       getElement("absolutevaluesdiv").style.display = "block";
     }else if (valueType == 'percentage'){
       getElement("absolutevaluesdiv").style.display = "none";
       getElement("percentagevaluesdiv").style.display = "block";
     }
     getElement("hepspec").value = getElement("currhepspec").value;
     getElement("memory").value = getElement("currmemory").value;
     getElement("storage").value = getElement("currstorage").value;
     getElement("bandwidth").value = getElement("currbandwidth").value;
     getElement("hepspec_per").value = getElement("currhepspec_per").value;
     getElement("memory_per").value = getElement("currmemory_per").value;
     getElement("storage_per").value = getElement("currstorage_per").value;
     getElement("bandwidth_per").value = getElement("currbandwidth_per").value;
  }


  function formValid(){
     currName = getElement("name").value;
     currHepSpec = getElement("hepSpecs").value;
     currMemory = getElement("memory").value;
     currStorage = getElement("storage").value;
     currBandwidth = getElement("bandwidth").value;
     currPrAllocRtElem = getElement("prallocrt");
     hepSpecs = trim(hepSpecsElem.value);
     hepSpecs = convertCPUUnit(hepSpecs,selHepSpecsUnitValue)
     memory = trim(memoryElem.value);
     storage = trim(storageElem.value);
     storage = convertStorageUnit(storage,selStorageUnitValue)
     bandwidth = trim(bandwidthElem.value);

       //hepSpecsPer = trim(hepSpecsPerElem.value);
       //memoryPer = trim(memoryPerElem.value);
       //storagePer = trim(storagePerElem.value);
       //bandwidthPer = trim(bandwidthPerElem.value);
       valueType=getRadioCheckedValue("absorper");
       alert(valueType)
       //valueType = '';
       //for (var i = 0; i < document.projectallocationform.valuetype.length; i++) {
         //if (document.projectallocationform.valuetype[i].checked) {
            //valueType = document.projectallocationform.valuetype[i].value;
            //break;
          //}
       //}
       errorMessage = '';

       if (valueType == 'percentage')
        {

            hepSpecs = round_float(((hepSpecs/100) * totHepSpecs), 3);
            memory = round_float(((memory/100) *totMemory), 3);
            storage= round_float(((storage/100) * totStorage), 3);
            bandwidth= round_float(((bandwidth/100) / totBandwidth), 3);
            errorMessage = validateResourceParameters(hepSpecs, memory, storage, bandwidth);
        }
      else
        {
            hepSpecs = round_float(hepSpecs, 3);
            storage = round_float(storage, 3);
            memory = round_float(memory, 3);
            bandwidth = round_float(bandwidth, 3);
            errorMessage = validateResourceParameters(hepSpecs, memory, storage, bandwidth);
               }
       if (errorMessage != '')
         {
            alert(errorMessage);
            return false;
         }

        alert("Value type"+valueType)

        if (hepSpecs != '')
          {
            if (totHepSpecs == -1)
             {
                alert('Hepspec for Top Level Allocation is Undefined and so Hepspec for Project Allocation needs to be blank');
                return false;
             }
            else
             {
                 if (hepSpecs > freeHepSpecs)
                  {
                     alert('The Requested Hepspec ' + hepSpecs + ' is greater than the available Hepspec ' + freeHepSpecs);
                     return false;
                   }
                else
                   {
                     hepSpecsElem.value = hepSpecs;
                   }
              }
            }
         if (memory != '')
           {

             if (totMemory == -1)
               {
                  alert('Memory for Top Level Allocation is Undefined and so Memory for Project Allocation needs to be blank');
                  return false;
               }
            else
               {
                  if (memory > freeMemory)
                   {
                     alert('The Requested Memory ' + memory + ' is greater than the available Memory ' + freeMemory);
                     return false;
                   }
                 else
                   {
                      memoryElem.value = memory;
            }
               }
            }
        if (storage != '')
          {


            if (totStorage == -1)
              {
                alert('Storage for Top Level Allocation is Undefined and so Storage for Project Allocation needs to be blank');
                return false;
              }
            else
              {
                if (storage > freeStorage)
                  {
                    alert('The Requested Storage ' + storage + ' is greater than the available Storage ' + freeStorage);
                    return false;
                  }
                else
                 {
                    storageElem.value = storage;

                 }
             }
         }

       if (bandwidth != '')
       {
          if (totBandwidth == -1)
             {
              alert('Bandwidth for Top Level Allocation is Undefined and so Bandwidth for Project Allocation needs to be blank');
              return false;
             }
          else
             {
              if (bandwidth > freeBandwidth)
                {
                   alert('The Requested Bandwidth ' + bandwidth + ' is greater than the available Bandwidth ' + freeBandwidth);
                   return false;
                }
              else
                {
                     bandwidthElem.value = bandwidth;
                }
       }
     }
       
     hepSpecChange = checkNumberParameterChange(currHepSpec, hepSpec);
     memoryChange = checkNumberParameterChange(currMemory, memory);
     storageChange = checkNumberParameterChange(currStorage, storage);
     bandwidthChange = checkNumberParameterChange(currBandwidth, bandwidth);


     if (prAllocRtElem.selectedIndex < 0){
        alert('Atleast one Resource Type should be selected for the Project Allocation');
        return false;
     }
     for(i=0; i<prAllocRtElem.options.length; i++){
        rtValue = prAllocRtElem.options[i].value;
        rt_exists = false;
        for(k=0; k<currPrAllocRtElem.options.length; k++){
           if (currPrAllocRtElem.options[k].value == rtValue){
              rt_exists = true;
              break;
           }
        }
        if (prAllocRtElem.options[i].selected){
           if (!rt_exists){
              updateSel = true;
              break;
           }
        }else{
           if (rt_exists){
              updateSel = true;
              break;
           }
        }
     }
   	updateSel =true
     if (!updateSel){
        alert('No Changes done to perform Edit Operation');
        return false;
     }
     return true;
  }

  function resetDefault(){
         name ="{{ prAllocObject.name}}";
         hepspecs="{{ prAllocObject.hepspec}}";
         memory ="{{ prAllocObject.memory}}";
         storage="{{ prAllocObject.storage}}";
         bandwidth="{{ prAllocObject.bandwidth}}";
         //comment="{{resourceTypeObject.comment}}";
         if(hepspecs=="None")
           {
              hepspecs="";
           }
         if(memory=="None")
           {
              memory="";
           }
         if(storage=="None")
           {
              storage="";
           }
          if(bandwidth=="None")
           {
              bandwidth="";
           }
         document.getElementById("id_name").value=name;
         document.getElementById("id_hepspecs").value=hepspecs;
         document.getElementById("id_memory").value=memory;
         document.getElementById("id_storage").value=storage;
         document.getElementById("id_bandwidth").value=bandwidth;
         restoreResourceTypes();
         restoreMetaData();
  }
</script>
</head>
<body onLoad="resetDefault();"><div id="container">
<form name="updateprojectallocationform" id="updateprojectallocationform" action="/cloudman/projectallocation/update/" method="post" class="niceform" onSubmit="return formValid();">{% csrf_token %}
  <fieldset><legend> Edit Project Allocation {{prAllocName}}</legend>
   <dl>
     <dt><label for="new">Allocation Name</label>:</dt>
     <dd><input id="id_name" type="text" name="name" maxlength="50" value="{{prAllocObject.name}}"/>
         <img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
           onmouseover="return ShowToolTip('nameToolTip');" onmouseout="return HideToolTip('nameToolTip');" />
         <div id="nameToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
           Enter Unique Name - Maximum of 50 Characters
         </div>
     </dd>
   </dl>
   <dl> 
     <dt><label for="top_level_allocation">Top level allocation</label>:</dt>
     <dd> {{prAllocObject.top_level_allocation.name}} </dd>
   </dl> 
   <dl>
     <dt><label for="project">Project</label>:</dt>
     <dd> {{prAllocObject.project.name}} </dd>
   </dl>
   <dl>
     <dt><label for="Group">Group</label>:</dt>
     <dd> {{prAllocObject.group.name}} </dd>
   </dl>
  <dl>
          <dt>
           <dd>
            <input type="radio" name="absorper" />Absolute
            <input type="radio" name="absorper" />Percentage
          </dd>
  </dl><fieldset>

            {% for field in form %}
     			<dl>
        			<dt> {{ field.label_tag }}: 
                                </dt>
 			        <dd> {{ field }}

                                        	
          				{% ifequal field.label "Capacity"%}
          				
          				{%displayHepSpecUnit%}
          			
          				{%   endifequal   %}
          				{% ifequal field.label "Storage"%}
          				
          				{%displayStorageUnit%}
          				
          				{%   endifequal    %}
                                        
          				<img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
                			onmouseover="return ShowToolTip('{{ field.name }}ToolTip');" onmouseout="return HideToolTip('{{ field.name }}ToolTip');" />
          				{%ifequal field.label "Resource Class" %}
                                        
                                       <div id="{{ field.name }}ToolTip" style="width:120px; position:relative;left:50px; display:none" class="boxcontent">
               				{{ field.help_text }}
          				</div>
                                       {%  else  %}

                                        <div id="{{ field.name }}ToolTip" style="width:120px; position:relative;left:200px; display:none" class="boxcontent">
                                        {{ field.help_text }}
                                        </div>



                                      {% endifequal %}
        			</dd>
      			</dl>
    	  {% endfor %}
    </fieldset>
        <div id="prallocrtlist" name="prallocrtlist" style="display:none;">
        <select id="currprallocrt" name="currprallocrt" SIZE="5" MULTIPLE>
        {% for onert in prAllocRTList %}
        <option value="{{onert}}" SELECTED>{{onert}}</option>
        {% endfor %}
        </select>
        </div>

    <dl>
      <dt> <label for="prallocallowedrt">Allowed Resource Types</label>: </dt>
      <dd>
        <select id="prallocallowedrt" name="prallocallowedrt" SIZE="5" MULTIPLE>
        {% for onert in prAllocRTList %}
          <option value="{{onert}}" SELECTED>{{onert}}</option>
        {% endfor %}
        </select>
        <img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
           onmouseover="return ShowToolTip('resourceTypesToolTip');" onmouseout="return HideToolTip('resourceTypesToolTip');" />
        <div id="resourceTypesToolTip" style="width:120px; position:absolute; z-index:20; display:none" class="boxcontent">
           Displayed Currently Allowed Resource Types as selected, Select or De-select for Changing the list
        </div>
      </dd>
    </dl>
    <dl>
     	<dt><label for="comment">Comment</label>:</dt>
        <dd><textarea id="comment" rows="5" cols="30" name="comment"  ></textarea>
            <img height="9px" width="9px" src="/media/images/qmark.jpg" style="cursor:pointer"
               onmouseover="return ShowToolTip('commentToolTip');" onmouseout="return HideToolTip('commentToolTip');" />
             <div id="commentToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
               Enter Comments about the project allocation(Useful for Logging)- Maximum of 3000 Characters
             </div>
        </dd>
    </dl>
   <fieldset>
          <legend>Project Attribute</legend>
      	  <div id="projectattribute" name="seltoplevelallocation" style="width:650px; overflow:auto; overflow-x:hidden;"></div>
   </fieldset> 
    <br/>
  <center>
     <input type="button" id="loadcurr" name="loadcurr" value="Reset to Current Values" style="padding: 5px 5px 5px 5px;" onClick="javascript:resetDefault();"/></center>
  </fieldset>
  <br/>
  <fieldset class="action">
    <input type ="submit" id="submit" name="submit" title="Save" value="Save" style="padding: 5px 5px 5px 5px;" />
  </fieldset>
</form>
</div></body>
</html>


