<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Edit Group</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}stylesheet/niceforms.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}javascript/general.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}stylesheet/jquery-ui.css" />
<script type="text/javascript" src='{{ MEDIA_URL }}javascript/jquery-1.7.1.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}javascript/jquery-ui.min.js'></script>

<script type="text/javascript">
    function formValid(){
       // Existing values
       currName = getElement("currname").value;
       currDescription = getElement("currdescription").value;
       currAdmin_group = getElement("curradmin_group").value;

       // New values
       nameElem = getElement("newname");
       name = trim(nameElem.value);
       nameElem.value = name;
       descriptionElem = getElement("description");
       description = trim(descriptionElem.value);
       descriptionElem.value = description;
       admin_groupElem = getElement("admin_group");
       admin_group = trim(admin_groupElem.value);
       admin_groupElem.value = admin_group;

       // check for atleast one field value change to perform update operation
       updateSel = false;
       if (currName != name){
          if (name == ''){
             alert('Provide some name to the Group');
             return false;
          }
          updateSel = true;
       }
       if (currDescription != description){
          updateSel = true;
       }
       if (currAdmin_group != admin_group){
          if (admin_group == ''){
             alert('Enter an Egroup name for Administrative E-Group field');
             return false;
          }
          updateSel = true;
       }
       if (!updateSel){
          alert('No Changes done to perform Edit Operation');
          return false;
       }
       return true;
    }

    function resetDefault(){
       getElement("newname").value = getElement("currname").value;
       getElement("description").value = getElement("currdescription").value;
       getElement("admin_group").value = getElement("curradmin_group").value;
    }
</script>
{% include "base/autocomplete.html" %}
</head>
<body onLoad="resetDefault();"><div id="container">
<form action="/cloudman/group/update/" method="post" class="niceform" onSubmit="return formValid();">{% csrf_token %}
  <fieldset><legend> Edit Group {{groupName}}</legend>
    <dl>
       <dt><label for="newname">Group Name</label>:</dt>
       <dd><input id="newname" type="text" name="newname" maxlength="50" value="{{groupObject.name}}"/>
          <img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
            onmouseover="return ShowToolTip('nameToolTip');" onmouseout="return HideToolTip('nameToolTip');" />
          <div id="nameToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
            Enter Unique Name - Maximum of 50 Characters
          </div>
       </dd>
     </dl>
     <input type="hidden" name="currname" id="currname" value="{{groupObject.name}}">
     <input type="hidden" name="name" id="name" value="{{groupObject.name}}">
     <dl>
       <dt><label for="description">Description of Group</label>:</dt>
       <dd><input id="description" type="text" name="description" maxlength="100" value="{{groupObject.description}}"/>
          <img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
            onmouseover="return ShowToolTip('descriptionToolTip');" onmouseout="return HideToolTip('descriptionToolTip');" />
          <div id="descriptionToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
            Brief Description of Group - Maximum of 100 Characters
          </div>
        </dd>
     </dl>
     <input type="hidden" name="currdescription" id="currdescription" value="{{groupObject.description}}">
     <dl>
       <dt><label for="admin_group">Administrative E-Group</label>:</dt>
       <dd><input type="text" name="admin_group" id="id_admin_group" value="{{groupObject.admin_group}}"/>
          <img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
            onmouseover="return ShowToolTip('admin_groupToolTip');" onmouseout="return HideToolTip('admin_groupToolTip');" />
          <div id="admin_groupToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
            Enter an E-Group name
          </div>
       </dd>
     </dl>
     <dl>
     	<dt><label for="comment">Comment</label>:</dt>
        <dd><textarea id="comment" rows="5" cols="30" name="comment"  ></textarea>
            <img height="9px" width="9px" src="/media/images/qmark.jpg" style="cursor:pointer"
               onmouseover="return ShowToolTip('commentToolTip');" onmouseout="return HideToolTip('commentToolTip');" />
             <div id="commentToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
               Enter Comments about the group(Useful for Logging)- Maximum of 3000 Characters
             </div>
        </dd>
     </dl>

     
     <input type="hidden" name="curradmin_group" id="curradmin_group" value="{{groupObject.admin_group}}">
     <input type="button" id="loadcurr" name="loadcurr" value="Reset to Current Values" style="padding: 5px 5px 5px 5px;" onClick="javascript:resetDefault();"/>
    </fieldset>
    <fieldset class="action">
      <input type="submit" name="submit" id="submit" title="Save" value="Save" style="padding: 5px 5px 5px 5px;" />
    </fieldset>
</form>
</div></body>
</html>

