<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Edit Resource Type</title>
  <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}stylesheet/niceforms.css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/general.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/cloudman.js"></script>
  <script type="text/javascript">
    function formValid(){
       //Existing Values
       currName = getElement("currname").value;
       currResourceClass = getElement("currresource_class").value;
       currHepSpec = getElement("currhepspec").value;
       currMemory = getElement("currmemory").value;
       currStorage = getElement("currstorage").value;
       currBandwidth = getElement("currbandwidth").value;

       //New Values
       nameElem = getElement("newname");
       nameElem.value = trim(nameElem.value);
       resourceClassElem = getElement("resource_class");
       hepSpecsElem = getElement("hepspec");
       memoryElem = getElement("memory");
       storageElem = getElement("storage");
       bandwidthElem = getElement("bandwidth");

       //Remove any leading or trailing spaces
       hepSpecs = trim(hepSpecsElem.value);
       memory = trim(memoryElem.value);
       storage = trim(storageElem.value);
       bandwidth = trim(bandwidthElem.value);

       updateSel = false;

       //Check any change in the name or resource class attributes
       if (currName != nameElem.value){
          updateSel = true;
       }
       resourceClass = resourceClassElem.options[resourceClassElem.selectedIndex].value;
       if (currResourceClass != resourceClass){
          updateSel = true;
       }

       //validate parameters if there is any change to the existing values
       errorMessage = validateResourceParameters(hepSpecs, memory, storage, bandwidth)
       if (errorMessage != ''){
          alert(errorMessage);
          return false;
       }

       //if ( (parseFloat(currHepSpec, 10) != parseFloat(hepSpecs, 10)) 
       //  || (parseFloat(currMemory, 10) != parseFloat(memory, 10)) 
       //  || (parseFloat(currStorage, 10) != parseFloat(storage, 10)) 
       //  || (parseFloat(currBandwidth, 10) != parseFloat(bandwidth, 10)) ){
       //   updateSel = true;
       //}

       hepSpecChange = checkNumberParameterChange(currHepSpec, hepSpecs);
       memoryChange = checkNumberParameterChange(currMemory, memory);
       storageChange = checkNumberParameterChange(currStorage, storage);
       bandwidthChange = checkNumberParameterChange(currBandwidth, bandwidth);

       if (hepSpecChange || memoryChange || storageChange || bandwidthChange){
          updateSel = true;
       }

       // if there is no change in any of the parameter, then alert the user
       if (!updateSel){
          alert('No Changes done to perform Edit Operation');
          return false;
       }

       hepSpecsElem.value = hepSpecs;
       memoryElem.value = memory;
       storageElem.value = storage;
       bandwidthElem.value = bandwidth;

       return true;
    }
   
    function resetDefault(){
       getElement("newname").value = getElement("currname").value;
       getElement("hepspec").value = getElement("currhepspec").value;
       getElement("memory").value = getElement("currmemory").value;
       getElement("storage").value = getElement("currstorage").value;
       getElement("bandwidth").value = getElement("currbandwidth").value;
       currResourceClass = getElement("currresource_class").value;
       resourceClass = getElement("resource_class");
       for (i=0; i<resourceClass.options.length; i++){
           if (resourceClass.options[i].value == currResourceClass){
              resourceClass.options[i].selected = true;
           }else{
              resourceClass.options[i].selected = false;
           }
       }
    }
  </script>  
</head>
<body onLoad="resetDefault();">
<div id="container">
<form action="/cloudman/resourcetype/update/" method="post" class="niceform" onSubmit="return formValid();">{% csrf_token %}
  <fieldset><legend> Edit Resource Type {{rtTypeName}}</legend>

   <dl>
        <dt> <label for="newname">Resource Type Name</label>: </dt>
 	<dd> <input id="newname" type="text" name="newname" maxlength="50" value="{{resourceTypeObject.name}}"/>
          <img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
                onmouseover="return ShowToolTip('nameToolTip');" onmouseout="return HideToolTip('nameToolTip');" />

          <div id="nameToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
               Enter Unique Name - Maximum of 50 Characters
          </div>
        </dd>
      </dl>
     <input type="hidden" name="currname" id="currname" value="{{resourceTypeObject.name}}"> 
     <input type="hidden" name="name" id="name" value="{{resourceTypeObject.name}}"> 
     <dl>
        <dt> <label for="resource_class">Resource Class</label>: </dt>
 	<dd> <select name="resource_class" id="resource_class">
             <option value="virtual">virtual</option>
             <option value="physical">physical</option>
             </select>
          <img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
                onmouseover="return ShowToolTip('resource_classToolTip');" onmouseout="return HideToolTip('resource_classToolTip');" />
          <div id="resource_classToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
               Select one of the choice
          </div>
        </dd>
      </dl>
    
     <input type="hidden" name="currresource_class" id="currresource_class" value="{{resourceTypeObject.resource_class}}"> 
     <dl>
        <dt> <label for="hepspec">Capacity(HS06)</label>: </dt>
        <dd>
        {% if resourceTypeObject.hepspecs == None %} 
 	  <input type="text" name="hepspec" id="hepspec" value=""/>
          <input type="hidden" name="currhepspec" id="currhepspec" value=""/>
        {% else %}
 	  <input type="text" name="hepspec" id="hepspec" value="{{resourceTypeObject.hepspecs}}"/>         
          <input type="hidden" name="currhepspec" id="currhepspec" value="{{resourceTypeObject.hepspecs}}"/>
        {% endif %}
          <img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
                onmouseover="return ShowToolTip('hepspecToolTip');" onmouseout="return HideToolTip('hepspecToolTip');" />
          <div id="hepspecToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
               Total Resources Hepspec - If entered Positive Value greater than 0
          </div>
        </dd>
      </dl>
      
     <dl>
        <dt> <label for="memory">Memory (MB)</label>: </dt>
        <dd>
        {% if resourceTypeObject.memory == None %}
 	  <input type="text" name="memory" id="memory" value=""/>
          <input type="hidden" name="currmemory" id="currmemory" value=""/>
        {% else %}
          <input type="text" name="memory" id="memory" value="{{resourceTypeObject.memory}}"/>
          <input type="hidden" name="currmemory" id="currmemory" value="{{resourceTypeObject.memory}}"/>
        {% endif %}
          <img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
                onmouseover="return ShowToolTip('memoryToolTip');" onmouseout="return HideToolTip('memoryToolTip');" />
          <div id="memoryToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
               Total Available Memory in MB - Can be left blank
          </div>

        </dd>
      </dl>
    
     <dl>
        <dt> <label for="storage">Storage (MB)</label>: </dt>
        <dd>
         {% if resourceTypeObject.storage == None %}
 	  <input type="text" name="storage" id="storage" value=""/>
 	  <input type="hidden" name="currstorage" id="currstorage" value=""/>
         {% else %} 
 	  <input type="text" name="storage" id="storage" value="{{resourceTypeObject.storage}}"/>
 	  <input type="hidden" name="currstorage" id="currstorage" value="{{resourceTypeObject.storage}}"/>
         {% endif %}
          <img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
                onmouseover="return ShowToolTip('storageToolTip');" onmouseout="return HideToolTip('storageToolTip');" />
          <div id="storageToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">

               Total Available Storage in MB - If entered Positive Value greater than 0
          </div>
        </dd>
      </dl>
    
     <dl>
        <dt> <label for="bandwidth">Bandwidth (Mbps)</label>: </dt>
        <dd>
         {% if resourceTypeObject.bandwidth == None %}
 	  <input type="text" name="bandwidth" id="bandwidth" value=""/>
 	  <input type="hidden" name="currbandwidth" id="currbandwidth" value=""/>
         {% else %}
 	  <input type="text" name="bandwidth" id="bandwidth" value="{{resourceTypeObject.bandwidth}}"/>
 	  <input type="hidden" name="currbandwidth" id="currbandwidth" value="{{resourceTypeObject.bandwidth}}"/>
         {% endif %}
          <img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
                onmouseover="return ShowToolTip('bandwidthToolTip');" onmouseout="return HideToolTip('bandwidthToolTip');" />
          <div id="bandwidthToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
               Total Available Bandwidth in Mbps - Can be left blank
          </div>
        </dd>
      </dl>
           <dl>
     	<dt><label for="comment">Comment</label>:</dt>
        <dd><textarea id="comment" rows="5" cols="30" name="comment"  ></textarea>
            <img height="9px" width="9px" src="/media/images/qmark.jpg" style="cursor:pointer"
               onmouseover="return ShowToolTip('commentToolTip');" onmouseout="return HideToolTip('commentToolTip');" />
             <div id="commentToolTip" style="width:120px; position:absolute; display:none" class="boxcontent">
               Enter Comments about the resource type(Useful for Logging)- Maximum of 3000 Characters
             </div>
        </dd>
     </dl>
   <input type="button" id="loadcurr" name="loadcurr" value="Reset to Current Values" style="padding: 5px 5px 5px 5px;" onClick="javascript:resetDefault();"/> 
  </fieldset>
  <fieldset class="action">
    <input type ="submit" id="submit" name="submit" title="Save" value="Save" style="padding: 5px 5px 5px 5px;" />
  </fieldset>   
</form>
</div>
</body>
</html>
