<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Edit Resource Type</title>
  <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}stylesheet/niceforms.css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/general.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/cloudman.js"></script>
  {% load filters %}
  <script type="text/javascript">
    var name="";
    var resource_class="";
    var hepspecs="";
    var memory="";
    var storage="";
    var bandwidth="";
    function initializeForm()
        {
         name ="{{resourceTypeObject.name}}";
         resource_class="{{resourceTypeObject.resource_class}}";
         hepspecs="{{resourceTypeObject.hepspecs}}";
         memory ="{{resourceTypeObject.memory}}";
         storage="{{resourceTypeObject.storage}}";
         bandwidth="{{resourceTypeObject.bandwidth}}";
         comment="{{resourceTypeObject.comment}}";
         if(hepspecs=="None")
           {
              hepspecs="";
           }
         if(memory=="None")
           {
              memory="";
           }
         if(storage=="None")
           {
              storage="";
           }
          if(bandwidth=="None")
           {
              bandwidth="";
           }
         document.getElementById("id_name").value=name;
         var resource_class_obj = document.getElementById('id_resource_class');
         resource_class_obj.selectedIndex=resource_class;
         document.getElementById("id_hepspecs").value=hepspecs;
         document.getElementById("id_memory").value=memory;
         document.getElementById("id_storage").value=storage;
         document.getElementById("id_bandwidth").value=bandwidth;
        }
    function formValid(){
       //Existing Values
       var currName = name;
       currResourceClass = resource_class;
       currHepSpecs = hepspecs;
       currMemory = memory;
       currStorage = storage;
       currBandwidth = bandwidth;

       //New Values
        var newName = getElementById("id_name").value;
        var newResourceClass=document.getElementById('id_resource_class')..options[resourceClassElem.selectedIndex].value;
        var newHepSpecs=document.getElementById("id_hepspecs").value;
        var newMemory=document.getElementById("id_memory").value;
        var newStorage=document.getElementById("id_storage").value;
        var newBandwidth= document.getElementById("id_bandwidth").value;

       //Remove any leading or trailing spaces
       newName=trim(newName);
       hepSpecs = trim(newHepSpecs);
       memory = trim(newMemory);
       storage = trim(newStorage);
       bandwidth = trim(newBandwidth);

       updateSel = false;

       //Check any change in the name or resource class attributes
       if (currName != newName){
          updateSel = true;
       }
       if (currResourceClass != newResourceClass){
          updateSel = true;
       }

       //validate parameters if there is any change to the existing values
       errorMessage = validateResourceParameters(hepSpecs, memory, storage, bandwidth)
       if (errorMessage != ''){
          alert(errorMessage);
          return false;
       }

       //if ( (parseFloat(currHepSpec, 10) != parseFloat(hepSpecs, 10)) 
       //  || (parseFloat(currMemory, 10) != parseFloat(memory, 10)) 
       //  || (parseFloat(currStorage, 10) != parseFloat(storage, 10)) 
       //  || (parseFloat(currBandwidth, 10) != parseFloat(bandwidth, 10)) ){
       //   updateSel = true;
       //}

       hepSpecChange = checkNumberParameterChange(currHepSpecs, hepSpecs);
       memoryChange = checkNumberParameterChange(currMemory, memory);
       storageChange = checkNumberParameterChange(currStorage, storage);
       bandwidthChange = checkNumberParameterChange(currBandwidth, bandwidth);

       if (hepSpecChange || memoryChange || storageChange || bandwidthChange){
          updateSel = true;
       }

       // if there is no change in any of the parameter, then alert the user
       if (!updateSel){
          alert('No Changes done to perform Edit Operation');
          return false;
       }

       document.getElementById("id_hepspecs").value=hepspecs;
       document.getElementById("id_memory").value=memory;
       document.getElementById("id_storage").value=storage;
       document.getElementById("id_bandwidth").value=bandwidth;

       return true;
    }
   
  </script>  
</head>
<body onLoad="initializeForm()">
<div id="container">
<form action="/cloudman/resourcetype/update/" method="post" class="niceform" onSubmit="return formValid();">{% csrf_token %}
  <fieldset><legend> Edit Resource Type {{rtTypeName}}</legend>
  				{% for field in form %}
    				{% for error in field.errors %}
       					<h3> {{ field.label }} : {{ error }} </h3>
    				{% endfor %}
  				{% endfor %}
    			{% for field in form %}
     			<dl>
        			<dt> {{ field.label_tag }}: 
                                </dt>
 			        <dd> {{ field }}

                                        	
          				{% ifequal field.label "Capacity"%}
          				
          				{%displayHepSpecUnit%}
          			
          				{%   endifequal   %}
          				{% ifequal field.label "Storage"%}
          				
          				{%displayStorageUnit%}
          				
          				{%   endifequal    %}
                                        
          				<img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
                			onmouseover="return ShowToolTip('{{ field.name }}ToolTip');" onmouseout="return HideToolTip('{{ field.name }}ToolTip');" />
          				{%ifequal field.label "Resource Class" %}
                                        
                                       <div id="{{ field.name }}ToolTip" style="width:120px; position:relative;left:50px; display:none" class="boxcontent">
               				{{ field.help_text }}
          				</div>
                                       {%  else  %}

                                        <div id="{{ field.name }}ToolTip" style="width:120px; position:relative;left:200px; display:none" class="boxcontent">
                                        {{ field.help_text }}
                                        </div>



                                      {% endifequal %}
        			</dd>
      			</dl>
    			{% endfor %}
  			</fieldset>
  <fieldset class="action">
    <input type ="submit" id="submit" name="submit" title="Save" value="Save" style="padding: 5px 5px 5px 5px;" />
  </fieldset>   
</form>
</div>
</body>
</html>


