<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Edit Resource Type</title>
  <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}stylesheet/niceforms.css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/general.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/cloudman.js"></script>
  {% load filters %}
  <script type="text/javascript">
    var name="";
    var description="";
    var admin_group="";
    var comment="";
    function initializeForm()
        {
         name ="{{regionObject.name}}";
         description="{{regionObject.description}}";
         admin_group="{{regionObject.admin_group}}";
         comment="{{regionObject.comment}}";
         if(name=="None")
           {
              name="";
           }
         if(description=="None")
           {
              description="";
           }
         if(admin_group=="None")
           {
              admin_group="";
           }
          if(comment=="None")
           {
              comment="";
           }
         document.getElementById("id_name").value=name;
         document.getElementById("id_description").value=description;
         document.getElementById("id_admin_group").value=admin_group;
         document.getElementById("id_comment").value=comment;
        }
    function formValid(){
       //Existing Values
       currName = name;
       currDescription= description;
       currAdmin_group = admin_group;
       currComment= comment;
       //New Values
        var newName = getElementById("id_name").value;
        var newDescription=document.getElementById("id_description").value;
        var newAdmin_group=document.getElementById("id_admin_group").value;
        var newComment=document.getElementById("comment").value;

       //Remove any leading or trailing spaces
       name=trim(newName);
       description= trim(currDescription)
       comment = trim(currComment);
       admin_group= trim(currAdmin_group);
       updateSel = false;

       //Check any change in the name or resource class attributes
       if (currName != newName){
          updateSel = true;
       }
       if (currDescription != description){
          updateSel = true;
       }
      if (currAdmin_group!= admin_group){
          updateSel = true;
       }
      if (currComment != comment){
          updateSel = true;
       }

       // if there is no change in any of the parameter, then alert the user
       if (!updateSel){
          alert('No Changes done to perform Edit Operation');
          return false;
       }

       document.getElementById("id_name").value=name;
       document.getElementById("id_description").value=description;
       document.getElementById("id_admin_group").value=admin_group;
       document.getElementById("id_comment").value=comment;

       return true;
    }
   
  </script>  
</head>
<body onLoad="initializeForm()">
<div id="container">
<form action="/cloudman/region/update/" method="post" class="niceform" onSubmit="return formValid();">{% csrf_token %}
  <fieldset><legend> Edit Region</legend>
  				{% for field in form %}
    				{% for error in field.errors %}
       					<h3> {{ field.label }} : {{ error }} </h3>
    				{% endfor %}
  				{% endfor %}
    			{% for field in form %}
     			<dl>
        			<dt> {{ field.label_tag }}: 
                                </dt>
 			        <dd> {{ field }}
          				<img height="9px" width="9px" src="{{ MEDIA_URL }}images/qmark.jpg" style="cursor:pointer"
                			onmouseover="return ShowToolTip('{{ field.name }}ToolTip');" onmouseout="return HideToolTip('{{ field.name }}ToolTip');" />
          				{%ifequal field.label "Resource Class" %}
                                        
                                       <div id="{{ field.name }}ToolTip" style="width:120px; position:relative;left:50px; display:none" class="boxcontent">
               				{{ field.help_text }}
          				</div>
                                       {%  else  %}

                                        <div id="{{ field.name }}ToolTip" style="width:120px; position:relative;left:200px; display:none" class="boxcontent">
                                        {{ field.help_text }}
                                        </div>



                                      {% endifequal %}
        			</dd>
      			</dl>
    			{% endfor %}
  			</fieldset>
  <fieldset class="action">
    <input type ="submit" id="submit" name="submit" title="Save" value="Save" style="padding: 5px 5px 5px 5px;" />
  </fieldset>   
</form>
</div>
</body>
</html>


