<style type="text/css">
  div.centered{
    display:block;
    position:absolute;
    top:22%;
    left:35%;
    width:700px;
  }
</style>
<div class="centered">
 <table>
  <tr>
     <td>
         <h1> Internal Server Error </h1>
     </td>
  </tr>
 </table>

<table>
 <tr>
 <td valign="top" colspan="2">
         <p>
        <img src="/cloudman/media/images/exclamation_mark.jpg" width="128" height="128" align="left" hspace="6" alt="Image" title="Image" border="0" />
          <br/> <br/> <h3>Oops!! Server error has occured. <br />
        Please open a JIRA ticket on Cloudman support unit to track this issue.</h3>
        </p>
  </td>
</tr>
</table>
</div>
