<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}stylesheet/listTable.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}stylesheet/common.css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/general.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/table_sort_filter.js"></script>
</head>
<body id="databody">
    <center>
        <table class="autosort" id='issuetable' border="1" align="center" style="table-layout: auto;">
         <thead>
            <tr>
              <th name="tcol0" id="tcol0" class="table-sortable:numeric">Level</th>
              <th name="tcol1" id="tcol1" class="table-sortable:ignorecase">Description</th>
              <th name="tcol2" id="tcol2" class="table-sortable:ignorecase">Details</th>
              <th name="tcol3" id="tcol3" class="table-sortable:ignorecase">Affected</th>
              <th name="tcol4" id="tcol4" class="table-sortable:ignorecase">Date</th>
              <th name="tcol5" id="tcol5" >Action</th>
            </tr>
         </thead>
         <tbody>
         {% for issue in issueList %}
            {% if  issue.level == 'WARNING' %}
                <tr class="warning" text="wrap">
            {% else %}
                <tr class="error" text="wrap">
            {% endif %}
              <td name="tcol0" id="tcol0" scope="row" text="wrap">{{ issue.level }}</td>
              <td name="tcol7" id="tcol7" scope="row" nowrap="nowrap">{{ issue.description }}</td>
              <td name="tcol7" id="tcol7" scope="row" nowrap="nowrap">{{ issue.egroup }}</td>
              <td name="tcol1" id="tcol1" scope="row" text="wrap">
              	{% if issue.group %}GROUP:
              		{% for group in issue.group %}
              			<a class="links" href="/cloudman/group/getdetails?name={{group}}" style="cursor:pointer;">'{{ group }}'&nbsp;&nbsp;</a>
              		{% endfor %}
              	{% endif %}
				{% if issue.region %}REGION:              		              	
              		{% for region in issue.region %}
              		<a class="links" href="/cloudman/region/getdetails?name={{region}}" style="cursor:pointer;">'{{ region }}'&nbsp;&nbsp;</a>
              		{% endfor %}
              	{% endif%}
              	{% if issue.project %}PROJECT: 	              	
              		{% for project in issue.project %}
              		<a class="links" href="/cloudman/project/getdetails?name={{project}}" style="cursor:pointer;">'{{ project }}'&nbsp;&nbsp;</a>
              		{% endfor %}
              	{% endif %}	              	
              </td>
              <td name="tcol7" id="tcol7" scope="row" nowrap="nowrap">{{ issue.date }}</td>
              <td name="tcol7" id="tcol7" scope="row" nowrap="nowrap">
              	{% if issue.level == 'WARNING'%}
					<a href="/cloudman/egroup/delete?name={{ issue.egroup }}" style="cursor: pointer" onClick="if (confirm('Do you really want to delete egroup {{ issue.egroup }}')){return true;}else{return false;}">
				      Delete Egroup {{ issue.egroup }}				         
				    </a>   
              	{% else %}
              		  Require Manual Intervention
              	{% endif %}	
              </td>
          </tr>
        {% endfor %}
         </tbody>
        </table>
    </center>
</body>
</html>
