[lsf]
#LSF Config file
LSFCONF = /etc/lsf.conf
LSFSHARECONF_FILE = /etc/ego.shared 

#URL of the XML which contains the data for the LSF project
LSFDATA_URL =  http://localhost/cloudman.xml
LSFXSDDATA_URL =  http://localhost/TEST/xsd

#Project for which you want to generate LSF Configuration
LSFPROJECT_NAME = LSF batch
#HOSTNAME convention in LSF Cluster example <HOSTNAME_PREPEND><partition_name_in_lowercase>
HOSTNAME_PREPEND = g_ 
LSF_DB_NAME = 
LSF_DB_USER = 
LSF_DB_PASSWORD = 
##LSFSUBGRoup Share resolution 
SUBGROUP_SHARE_RESOLUTION = 100

##match only these hosttype while calculating total si2k
LSFHOST_MATCH_STR = ('SLC4','SLC4_64','SLC5_64',)#At the end put comma otherwise it will break
#name of the LSF Cluster
LSF_CLUSTER = batch
[lsf_admin]
LSF_ADMIN_GROUP = lsfadm_it
LSF_ADMIN_USER = mccance ricardo 
[lsf_job]
##maxmium job a user can submit
MAX_JOB = 
MAX_PENDING = 50000 
##some lsfsubgroup user members needs to be resolved from LDAP
[ldap_resolve]
##Resolve subgroups whose name starts with grid_
LDAP_RESOLVE_SUBGROUP_PREPEND = grid_
 
